<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <label>Titel*</label>
        <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel"/>

      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>Content* </label>
        <textarea matInput name="content" rows="6" ngModel required #content="ngModel"></textarea>

      <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">Save</button>
  </form>
</mat-card>

